<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <h1>수정하기 페이지 입니다.</h1>
    <!-- <form action="/edit/<%= post._id %>" method="post"> -->
    <form action="/edit?_method=PUT" method="post">
      <input type="text" name="id" value="<%= post._id %>" hidden />
      <h1><%= post._id %></h1>
      <label
        >오늘의 할일
        <input type="text" name="title" value="<%= post.postTitle %>"
      /></label>
      <label
        >날짜 <input type="date" name="date" value="<%= post.postDate %>"
      /></label>
      <input type="submit" value="수정" />
    </form>
  </body>
</html>
